section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bg {
    width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.legalbackground {
    background-image: url(./../../../../public/img/herobackground.webp);
    background-position: bottom;
    object-fit: cover;
    background-size: cover;
}


.datenschutz {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 144px);
    height: fit-content;
    max-width: 800px;
    padding: 56px 72px;
    color: #000000;


    >div {
        width: 100%;
        display: flex;
        flex-direction: column;

        gap: 20px;
    }
}

h1 {
    font-size: 48px !important;
    font-weight: 500;
    margin-bottom: 50px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-weight: 200;
}

p,
ul,
h2,
h3 {
    max-width: 800px;
    font-weight: 200;
}

a{
    cursor: pointer;
}

.back-button {

  width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block: 50px 100px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        >img {
            width: 24px;
            height: 24px;
        }

    }


}




@media(max-width: 590px) {
    .impressum {
        width: calc(100vw - 40px);
        padding: 20px;
    }
    .header-bg{
        min-height: 64px;
        max-height: 64px;
    }

    h1 {
        font-size: 28px !important;
    }

    h2 {
        font-size: 18px;
    }

    .datenschutz {
        width: calc(100vw - 40px);
        padding: 56px 20px;
    }
}