section {
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

.legalbackground {
    background-image: url(./../../../../public/img/herobackground.webp);
    background-position: bottom;
    object-fit: cover;
    background-size: cover;
}


.datenschutz {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100vw - 144px);
    height: fit-content;
    max-width: 1440px;
    padding: 56px 72px;
    color: #000000;
    gap: 20px;

}

h1 {
    font-size: 48px !important;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-weight: 200;
}

p,
ul,
h2,
h3 {
    max-width: 800px;
    font-weight: 200;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block: 50px 100px;

    font>img {
        width: 24px;
        height: 24px;
    }

}




@media(max-width: 590px) {
    .impressum {
        width: calc(100vw - 40px);
        padding: 20px;
    }

    h1 {
        font-size: 28px !important;
    }

    h2 {
        font-size: 18px;
    }

    .datenschutz {
        width: calc(100vw - 40px);
        padding: 20px;
    }
}