
<app-projectsoverlay
[title]="'DABubble'"
[line]="'/img/blueline_long.svg'"
[descript]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[details]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[duration]="'5 weeks'"
[skills]="daBubbleSkills"
[image]="'/img/dabubble.svg'"
[path]="'join'"
></app-projectsoverlay>