<section  id="projects" id="projects" (mouseover)="toggleHover()" (mouseout)="toggleHover()">
    <div class="content">
        <div>
            <div class="title">
                <span>{{"projects.smallheadline" | translate}}</span>
                <div>
                    <h1>{{"projects.headline" | translate}}</h1>
                    <img src="./img/project-line.svg" alt="">
                    <div class="lineCover" [ngClass]="{'linewidth': isHover()}"></div>
                </div>

                <p>{{"projects.introduction" | translate}}</p>
            </div>

        </div>
        <div>
            <app-singleproject 
            [imagePath]="'./img/Laptop.png'" 
            [title]="'Join'"
            [className]="'swing'"
            [param]="'join'"
            text="singleproject.join-description"
            [sticker]="'./img/sticker-blue.svg'"
         
            ></app-singleproject>
            
        </div>

    </div>
    <div class="content">
        <div>
            <app-singleproject 
            [imagePath]="'./img/Pollo.png'" 
            [title]="'El Pollo Loco'"   
            [param]="'polloloco'"              
            text="singleproject.pollo-description"
            [stickerClass]="'opacity'"
            ></app-singleproject>
        </div>
        <div>
            <app-singleproject 
            [imagePath]="'./img/dabubble.png'" 
            [title]="'DABubble'"   
            [param]="'dabubble'"                  
            text="singleproject.dabubble-description"
            [stickerClass]="'opacity'"
            ></app-singleproject>
        </div>

    </div>
</section>

