div,
span,
h1,
h2,
p {

    margin: 0;
}

:host {
    width: 100%;
}

section {
    width: 100%;
    height: 1282.44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content {
    width: calc(100% - 40px);
    max-width: 1200px;
    height: 658.22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    >div {
        width: 560px;
        height: 514.22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    position: relative;
    width: 560px;
    height: 238px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    >span {

        font-size: 20px;
        font-weight: 500;
    }

    >div {
        position: relative;
        width: 260px;
        height: 88px;
        margin-top: 16px;

        >img {
            height: 20px;
            width: 260px;


        }

        >h1 {
            font-size: 64px;
            font-weight: 700;
        }

    }

    p {
        margin-top: 48px;
    }

}

.lineCover {
    position: absolute;
    background-color: white;
    width: 260px;
    height: 35px;
    right: 0;
    bottom: -20px;
    transition: width 0.8s ease-in-out;
    border: none;
}

.linewidth {
    width: 0px !important;
}



@media(max-width: 1280px) {
    section {
        height: fit-content;
        gap: 32px;

    }

    .content {
  
        height: fit-content;
        justify-content: center;
        gap: 32px;

        >div {
            max-width: 480px;

            height: fit-content;
        }
    }

    .titleContainer {
        justify-content: flex-start !important;
    }

    .title {

        width: 320px;
        height: 248px;
    }

}


@media(max-width: 750px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .titleContainer {
        justify-content: center !important;
    }
}
@media(max-width: 520px) {
    .content {
        >div {
            max-width: 280px "";

        }
    }
}


@media(max-width: 374px) {
    .content {
        width: calc(100% - 40px) !important;

        >div {
            width: 100% !important;
        }
    }

    .title {
        width: 290px;
    }


}