section {
    width: 100vw;
    
    min-height: 100vh;
    height: max-content;
    background-image: url(./../../../../public/img/herobackground.webp);
    background-position: bottom;
    object-fit: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.impressum {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 144px);
    max-width: 1200px;
    box-sizing: border-box;
    height: fit-content;
    padding: 56px 72px;

    color: var(--white-font);
    gap: 20px;
   

}

h1 {
    font-size: 28px;
}

.impressum h2 {
    font-size: 20px;
}

.impressum h1,
h2 {
    font-weight: 500;
}

p{
    font-weight: 20;
}
a{
    color: var(--white-font) !important;
    cursor: pointer;
}

p,
ul,
h2,
h3 {
    max-width: 800px;
    
}

.back-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-block: 50px 100px;
    
    font
    >img{
        width: 24px;
        height: 24px;
    }

}


@media(max-width: 600px) {
    .impressum {
        width: calc(100vw - 40px);
        padding: 20px;
    }

    .datenschutz {
        width: calc(100vw - 40px);
        padding: 20px;
    }
}

