
<app-projectsoverlay
[title]="'Join'"
[line]="'/img/blueline_small.svg'"
[descript]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[details]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[duration]="'5 weeks'"
[skills]="joinSkills"
[image]="'/img/join.svg'"
[path]="'polloloco'"
></app-projectsoverlay>
