<section>


    <div class="content">
        <app-header [color]="'black'" [logo]="'blue'"></app-header>
        <div class="goBackContaienr">
            <div>
                <img src="./img/back.svg" alt=""> <a href="#projects">{{'overlay.back' | translate}}</a>
            </div>

        </div>
        <div class="description">
            <div>
                <div class="contentLeft">
                    <div class="headline">
                        <h1 [ngClass]="title">{{title}}</h1>
                        <div>
                            <img [src]="line" alt="">
                        </div>
                    </div>
                    <div class="textContainer">
                        <div>
                            <h2>{{'overlay.description' | translate}}</h2>
                            <p>{{descript | translate}}</p>
                        </div>
                        <div>
                            <h2>{{'overlay.details' | translate}}</h2>
                            <p>{{details | translate}}</p>
                        </div>
                        <div class="durationContainer">
                            <h3>{{'overlay.duration' | translate}}:</h3>
                            <span>{{duration}} {{'overlay.weeks' | translate}}</span>
                        </div>
                    </div>
                    <div class="skillOverview">
                        <div *ngFor="let item of skills">

                            <img [src]="item.imgPath" alt="">
                            <span>{{item.name}}</span>

                        </div>
                    </div>

                </div>
                <div class="contentRight">
                    <div class="images">
                        <img class="sticker" [src]="sticker" alt="">
                        <img [src]="image" alt="">
                    </div>
                   
                    <div>
                        <app-buttons  [text]="'GitHub'" [color]="'getinTouchButton'"></app-buttons>
                        <app-buttons  [text]="'Live Test'" [color]="'getinTouchButton'"></app-buttons>
                    </div>
                </div>
            </div>
        </div>

        <div class="goNextContainer">
            <div class="back-resp">
                <img src="./img/back.svg" alt=""> <a href="#projects">{{'overlay.back' | translate}}</a>
            </div>
            <div (click)="openOverlay(path)" href="">{{'overlay.next' | translate}}<img src="./img/nextproject.svg" alt=""></div>
        </div>


    </div>



  

</section>