section {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >div {
        position: relative;
        width: 100%;
        height: 398.22px;
        margin-bottom: 32px;

        >img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            transition: all 1s ease-in-out;

            &:hover {
                animation-play-state: paused;


            }
        }


    }

    >h2 {
        margin-bottom: 10px !important;
    }


    >p {
        font-weight: 100 !important;
    }
}

.title {
    width: 100% !important;
    height: 25px !important;
    display: flex !important;
    justify-content: flex-start !important;
}

.sticker {
    position: absolute;
    width: 168px !important;
    height: 168px !important;
    left: 0px;
    bottom: 0;
    z-index: 1;
    border: none !important;
}

.opacity {
    display: none;
}

.imageCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: opacity 0.3s ease-in-out;

    opacity: 0;

    >div {
        position: absolute;
        bottom: 40px;
        right: 40px;
    }


}

.cover {
    opacity: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)50%);
}

.swing {
    animation: swing 3s ease-in-out infinite;
    animation-play-state: running;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: white;
}

.respbutton {
    margin-top: 32px;
    width: 100%;
    height: 40px !important;
    display: flex;
    justify-content: flex-end;

}


@keyframes swing {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@media(max-width:1280px) {
    section {


        >div {

            height: fit-content;

           
        }
    }

    .sticker {
        width: 120px !important;
        height: 120px !important;
    }

    
}

@media(min-width:650px) {
    .respbutton {
        display: none;
    }

}
@media(max-width:750px) {
section{
    max-width: 400px;
}
.imageCover{
    max-width: 400px;
}
.projectImage{
    width: 360px !important;
    height: 260px !important;
}
}

@media(max-width:650px) {
    .imageCover {
        display: none;
    }

    section {

        max-width: 280px;

        >div {

            height: fit-content;

            >img {
                width: 320px;
                height: 220px;
            }

            >h2 {
                width: 100% !important;
            }

            >p {
                width: 100% !important;
            }
        }
    }


}

@media(max-width: 550px) {
    .projectImage{
       
        width: 260px !important;
        height: 220px !important;

        
}

}
@media(max-width: 400px) {
    section {
        max-width: 280px;

        >div {


         
        }
    }

    .respbutton {
        width: 300px !important;
    }


}