<section>
    <div>
        <img [ngClass]="stickerClass" class="sticker" [src]="sticker" alt="">
        <img class="projectImage" [src]="imagePath" alt="" [ngClass]="className">
        <div class="imageCover" (mouseover)="toggleHover()" (mouseout)="toggleHover()" [ngClass]="{'cover': isHover()}">
            <div>
                <app-buttons text="singleproject.button" [color]="'white'" (click)="openOverlay(param)"></app-buttons>
            </div>

        </div>
    </div>
    <div class="title">
        <h2>{{title}}</h2>
    </div>
  
    <p>{{text | translate}}</p>
    <div class="respbutton">
        <app-buttons text="singleproject.button" [color]="'black'" (click)="openOverlay(param)"></app-buttons>
    </div>

</section>