<section id="skills">
    <div class="content">
        <div class="headline">
            <div class="title">
                <div>
                    <span>{{"skills.smallheadline" | translate}}</span>
                </div>

                <h1>{{"skills.headline" | translate}}</h1>
                <img src="./img/skill_line.svg" alt="" [ngClass]="{'d_none': isVisible}">

            </div>
            <div class="text">
                <p>{{"skills.introduction" | translate}}</p>
            </div>
        </div>

        <div class="skill-logos">
            <div *ngFor="let item of names; let i=index">
                <img src="{{item.img}}" alt="">
                <span>{{item.name}}</span>
            </div>

        </div>
        <div class="sticker" id="sticker" (click)="changeSticker()"
            [ngStyle]="{'background-image': 'url(' + currentStickerImage + ')'}">
        </div>


    </div>
</section>