<form  (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div>
        <div>
            <label for="name">{{'form.name' | translate}}</label>
            <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                placeholder="{{'form.name-placeholder' | translate}}" required>
            @if(!name.valid && (message.touched || contactForm.submitted) ){
            <span>{{'form.name-error' | translate}}</span>
            }
        </div>
        <div>
            <label for="email">{{'form.email' | translate}}</label>
            <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
                placeholder="{{'form.email-placeholder' | translate}}" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                @if(!email.valid && (message.touched || contactForm.submitted) && name.valid){
                    <span>{{'form.email-error' | translate}}</span>
                    }
        </div>
        <div>
            <label for="message">{{'form.message' | translate}}</label>
            <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" placeholder="{{'form.message-placeholder' | translate}}"
                required></textarea>
                @if(!message.valid && (message.touched || contactForm.submitted)&& name.valid && email.valid){
                    <span>{{'form.message-error' | translate}}</span>
                    }
        </div>


    </div>

    <div class="privacy">
        <div>
            <div>
                <div (click)="toggleChecked()" [ngClass]="{'none': isChecked() }" class="checkbox-default"></div>
                <div (click)="toggleChecked()" [ngClass]="{'block': isChecked() }" class="checkbox-checked"></div>
            </div>
            <p>{{'form.privacy1' | translate}} <a href="">{{'form.link' | translate}}</a> {{'form.privacy2' | translate}}</p>
        </div>
        <div class="privacyError">
            <p [ngClass]="{'block': isError}">{{'form.privacy-error' | translate}}</p>
        </div>

    </div>
    <div class="sendButtonContainer">
        <app-buttons id="sendButton" text="form.button"
            [color]="contactForm.valid && privacy ? 'white' : 'grey'"></app-buttons>
           
        </div>

</form>