<section id="aboutme">
    <div class="contentLeft">

        <div class="rippedPaper base">
            <div class="baseContent">
                <img src="./img/location.svg" alt="">
                <span>{{"aboutme.base"| translate}}</span>
            </div>
        </div>
        <div class="rippedPaper free">
            <div class="workContent">
                <img src="./img/relocate.svg" alt="">
                <span>{{"aboutme.location"| translate}}</span>
            </div>

        </div>

        <div class="rippedPaper work">
            <div class="workContent">
                <img src="./img/remote.svg" alt="">
                <span>{{"aboutme.remote"| translate}}</span>
            </div>

        </div>

    </div>
    <div class="contentRight">
        <div class="headline">
            <span>{{"aboutme.smallheadline"| translate}}</span>
            <div>
                <h1>{{"aboutme.headline"| translate}}</h1>
                <div class="line">
                    <div [ngClass]="{'linewidth': isVisible}" class="lineCover"></div>
                    <img src="./img/Blueline.svg" alt="">
                </div>

            </div>

        </div>
        <p>{{"aboutme.text" | translate}}</p>
        <div class="buttonContainer">
            <div class="aboutmebuttonBG ">
                <a class="aboutmebutton" href="#contact">{{'aboutme.button' | translate}}</a>
            </div>
        </div>

    </div>
</section>