<section id="contact">
    <div class="content">
        <div class="sticker-resp"> <img src="./img/contactsticker.png" alt=""></div>
        <div class="contentLeft">
           
            <div>
                <span>CONTACT ME</span>
                <h1>Ready to work together?</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt laudantium accusamus est recusandae
                dolores debitis ea eos iure dignissimos, facere, porro officia dolor esse blanditiis saepe quidem
                perspiciatis? Beatae, voluptatibus.</p>
                <div class="line">
                    <div class="lineCover"></div>
                    <img src="./img/contactLine.svg" alt="">
                </div>
             
        </div>
        <div class="contentRight">
            <div class="sticker"><img src="./img/contactsticker.png" alt=""></div>
            <div>
                
                <app-contactform></app-contactform> 
            </div>
            <div class="line-resp">
                <div class="lineCover-resp"></div>
                <img src="./img/contactLine.svg" alt="">
            </div>
        </div>
    </div>
  <div class="footerContainer">
    <app-footer></app-footer>
  </div>
</section>