<app-projectsoverlay
[title]="'El Pollo Loco'"
[line]="'/img/blueline_long.svg'"
[descript]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[details]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio dicta numquam facilis fugit facere. Provident possimus rerum suscipit fuga sapiente. Assumenda dolor ipsum magni nihil quo dolores reiciendis, quod pariatur?'"
[duration]="'3 weeks'"
[skills]="polloLocoSkills"
[image]="'/img/Pollo.svg'"
[path]="'dabubble'"
></app-projectsoverlay>