section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
}

.legal {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.logo {
width: 150px;
cursor: pointer;

    >p {
        width:40px ;
        margin: 0 !important;
        font-size: 40px;
        font-weight: 600;
        color: var(--logo-color);
        letter-spacing: -6px;
        transition: color 0.5s ease-in-out;
        &:hover{
            color: var(--main-color);
        }
    }

    >span {
        font-size: 14px;
    }
}


.footerlinks {
   display: flex;
   justify-content: space-between;
   width: 80%;
}

.legallink{

    width: 108px;
    height: 42px;
>a{
    position: relative;
    width: 108px;
    height: 42px;
    &:hover{
        >img{
            display: block !important;
    
        }
    }
     
    >img{
        position: absolute;
        display: none;
       width: 80px;
        top: 0;
        left: 0;
  
    }

}
 
}


a {

    color: var(--white-font);
    height: fit-content;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
 
   
  

}

@media(max-width:780px){
    section{
        flex-direction: column;
        gap:0px
    }
    .legal{
        width: 100%;
    }
    .logo{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100% !important;
    }

    .legallink{
        width: 100%;
        display: flex;
        justify-content: flex-end;
      >a{
        width: fit-content;
      }
    }

    .footerlinks{
        width: 100%;
    }
}