section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 200px;
}

.legal {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

}

.logo {


    >p {
        margin: 0 !important;
        font-size: 40px;
        font-weight: 600;
        color: var(--logo-color);
        letter-spacing: -6px;
        transition: color 0.5s ease-in-out;
        &:hover{
            color: var(--main-color);
        }
    }

    >span {
        font-size: 14px;
    }
}


.footerlinks {
   display: flex;
   justify-content: space-between;
   width: 80%;
}




a {
    color: var(--white-font);
    height: fit-content;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

@media(max-width:780px){
    section{
        flex-direction: column;
        gap:0px
    }
    .legal{
        width: 100%;
    }
    .logo{
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100% !important;
    }

    .legallink{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .footerlinks{
        width: 100%;
    }
}