<section>
    <div class="legal">
        <div class="logo">
            <p (click)="reload()" >JR</p>
            <span>© Johannes Roth 2025</span>
        </div>
        <div class="legallink">
            <a (click)="loadLegals('imprint')" >{{'footer.legal' | translate}}</a>
        </div>
     
    </div>
<div class="footerlinks">
    <app-wavebutton
    [text]="'GitHub'"
    [imagePath]="'./img/github-footer.svg'"
    [path]="'https://github.com/jorohx84'"
    ></app-wavebutton>
    <app-wavebutton
    [text]="'LinkedIn'"
    [imagePath]="'./img/linkedin.svg'"
    [path]="'https://www.linkedin.com/in/maple-websolutions-b0833334b'"
    ></app-wavebutton>
    <app-wavebutton
    [text]="'Email'"
    [imagePath]="'./img/mail.svg'"
    [path]="'mailto:info@johannes-roth.de'"
    ></app-wavebutton>

</div>

</section>
