<section>
    <div class="legal">
        <div class="logo">
            <p >JR</p>
            <span>© Johannes Roth 2025</span>
        </div>
        <div class="legallink">
            <a href="">Legal Notice</a>
        </div>
     
    </div>
<div class="footerlinks">
    <app-wavebutton
    [text]="'GitHub'"
    [imagePath]="'/img/github-footer.svg'"
    ></app-wavebutton>
    <app-wavebutton
    [text]="'LinkedIn'"
    [imagePath]="'/img/linkedin.svg'"
    ></app-wavebutton>
    <app-wavebutton
    [text]="'Email'"
    [imagePath]="'/img/mail.svg'"
    ></app-wavebutton>

</div>

</section>
